*{
    font-family: Helvetica, Arial, sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(193, 191, 191);
    width: 350px;
    height: 400px;
}


input{
    width: 220px;
    height: 26px;
    font-size: 12px;
    padding: 9px 0 7px 8px;
    background-color: #FAFAFA;
    border: 1px solid #c5c4c4;
    margin: 5px 5px 5px 60px;
}

#Log_in{
    background-color: rgb(75, 180, 248);
    padding: 10px;
    color: white;
    border-radius: 8px;
    width: 230px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
}

.bel_form{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 290px;
    border-top: 1px solid #c5c4c4;
    padding: 30px 20px;
    margin: 40px;
}
.bel_form a{
    text-decoration: none;
    padding: 5px;
    color: #385185
}
.bel_form a:visited{
    text-decoration: none;
    padding: 5px;
    color: #385185
}
.create_acc{
    margin-top: 10px;
    border: 1px solid rgb(193, 191, 191);
    width: 350px;
    height: 60px;
}



/* FOOTER CSS */
.foot, .foot2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;   
    color: rgb(115 115 115);
    font-size: 12px;
}
.card a{
    padding: 10px;
    text-decoration: none;
    color: rgb(115 115 115);
    cursor: pointer;
    font-size: 12px;
}
#lang{
    border: none;
    background-color: #fff;
    color: rgb(115 115 115);

}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}